<html>
<head>
	<meta charset="utf-8">
	<title>Themes</title>
</head>
<body background="http://fc06.deviantart.net/fs70/i/2010/170/6/c/Blue_smoke__by_lettherebelove01.jpg" >
	<center><h1><font face="verdana" color="#FFFFFF", size="500px">Choose a theme!</font></h1></center>

	<center><a href="/movies"><button type="button" style="height:100px; width:500px">
		<span style="font-size:16px;">MOVIES</span><br />
		<span style="font-size:14px;">Can you catch these cinema captions??</span>
	</button></a></center>

	<center><a href="/actors"><button type="button" style="height:100px; width:500px">
		<span style="font-size:16px;">ACTORS/ACTRESS</span><br />
		<span style="font-size:14px;">Can you handle the BACON??</span>
	</button></a></center>

	<center><a href="/sports"><button type="button" style="height:100px; width:500px">
		<span style="font-size:16px;">SPORTS</span><br />
		<span style="font-size:14px;">Can you score the right captions??</span>
	</button></a></center>
	<a href='/'><center><font face="verdana" color="FFFFFF">Go Home<font><center></a>
</body>
</html>

