<html>
<head>
  <meta charset="utf-8">
  <title>Actors and Actresses</title>
</head>
  <body background="http://mobile4leads.com/wp-content/uploads/2012/05/450px-Blue_question_mark.svg_.png" >
  <font face="cursive" size="10" color="000000"><center><h1>Can you guess who the Actor or Actress is??</h1><center></font>

  <% actor[:imgs].each do |image| %>
    <img src="<%= image %>" />
  <% end %>
  <form method="post">
    Answer: <input type"text" name="answer" autocomplete="off">
    <input type='submit' value='Submit'>
  </form>
    <a href='/mode'><center><font face="verdana" color="FFFFFF">Wanna Do Something Else?<font><center></a>
</body>
</html>