<html>
<head>
	<meta charset="utf-8">
	<title>Themes</title>
</head>
<body background="http://fc06.deviantart.net/fs70/i/2010/170/6/c/Blue_smoke__by_lettherebelove01.jpg" >
	<center><h1><font face="verdana" color="#A0A0A0", size="500px">Choose a theme!</font></h1></center>
	<center><a href="/movies"><button type="button" onclick="alert('Can you catch these cinema captions??')"style="height:100px; width:500px">MOVIES</button></a></center>
	<center><a href="/actors"><button type="button" onclick="alert('Can you handle the BACON??')"style="height:100px; width:500px">ACTORS/ACTRESS</button></a></center>
	<center><a href="/sports"><button type="button" onclick="alert('Can you score the right captions??')"style="height:100px; width:500px">SPORTS</button></a></center>
	<a href='/'><center><font face="verdana" color="FFFFFF">HomePage<font><center></a>
</body>
</html>

