<html>
<head>
  <meta charset="utf-8">
  <title>Sports</title>
</head>
  <body bgcolor="#FF8533">
  <font color="#002B6B"><center><h1>Can you guess what sport it is??</h1><center></font>
  
  <% sport[:imgs].each do |image| %>
    <img src="<%= image %>" />
  <% end %>
  <form method="post">
    Answer: <input type"text" name="answer" autocomplete="off">
    <input type='submit' value='Submit'>
  </form>
    <a href='/mode'><center><font face="verdana" color="FFFFFF">Wanna Do Something Else?<font><center></a>
</body>
</html>