<!doctype html>

<html>
<head>
 	<meta charset="utf-8"/>
	<title>Welcome to Catch the Caption</title>
</head>
<body >
	<h1><center><font face="fantasy" size="500" color="87CEFA">Catch the Caption!!</font><center></h1>
	<p><center><font face="verdana" color="20B2AA" size="5px"=> Think you can guess this movie, actor, or sport?<br>Give it your best shot! BUT BEWARE OF THE BACON!!!</br></font></center></p>
 	<center><img src="http://33charts.com/wp-content/uploads/2011/03/Question-Mark-Blue.jpg" width= "" height="" style="float:left"></center>
	<h1><center><font face="verdana" color="#5FBD5F" size="500px">Lets Play!!</font></center></h1>
	<center><a href="/mode"><button type="button" onclick="alert('Are you sure? The frying pan could get pretty hot!')"style="height:100px; width:500px">Are you ready for this!!??!!</button></center>
</body>
</html>

