html{

  background:url(http://www.treasure-hunt-people.co.uk/images/man-with-blue-question-mark.jpg);

  background-size: 100%, repeat: false;

  margin: 50px auto;

  width: 620px;

  padding: 20px;

  background-color: #FFF;

}

